<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myproject.mapper.CategoryMapper">
    <!--<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>-->
    <resultMap id="BaseResultMap" type="com.example.myproject.pojo.Category">
        <id column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="category_describe" property="categoryDescribe" jdbcType="VARCHAR"/>
        <result column="creation_time" property="creationTime" jdbcType="DATETIMEOFFSET"/>
        <result column="is_show" property="isShow" jdbcType="BIT"/>
        <result column="keywords" property="keywords" jdbcType="VARCHAR"/>
        <result column="recommend" property="recommend" jdbcType="BIT"/>
    </resultMap>


    <resultMap id="BaseResult_Simple_Map" type="com.example.myproject.vojo.CategoryBean">
        <id column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_category_List">
      category_id, parent_id,category_name,creation_time,is_show,recommend,keywords
    </sql>

    <sql id="Base_category_simple_list">
      category_id,category_name,parent_id
    </sql>


    <!--新增商品分类-->
    <insert id="addCategory" parameterType="com.example.myproject.pojo.Category">
        insert into t_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
            <if test="categoryDescribe != null">
                category_describe,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
            <if test="isShow != null">
                is_show,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="recommend != null">
                recommend,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="categoryDescribe != null">
                #{categoryDescribe,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=DATETIMEOFFSET},
            </if>
            <if test="isShow != null">
                #{isShow,jdbcType=BIT},
            </if>
            <if test="keywords != null">
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="recommend != null">
                #{recommend,jdbcType=BIT},
            </if>
        </trim>
    </insert>


    <!-- 查找商品分类 -->
    <select id="findCategory" resultMap="BaseResultMap">
        select
        <include refid="Base_category_List"></include>
        from t_category
        <where>
            1=1
            <if test="categoryId != null and categoryId !=0">
                and category_id = #{categoryId,jdbcType=INTEGER}
            </if>
            <if test="categoryName != null and categoryName !='' ">
                and (category_name like #{categoryName,jdbcType=VARCHAR})
            </if>
        </where>
    </select>



    <!-- 查找全部可取商品分类 -->
    <select id="findAllCategory" resultMap="BaseResult_Simple_Map">
        select
        <include refid="Base_category_simple_list"></include>
        from t_category
        <where>
            1=1
            <if test="isShow != null">
                and is_show = #{isShow,jdbcType=BIT}
            </if>
        </where>
    </select>

    <!-- 删除商品分类 -->
    <delete id="deleteCategory" parameterType="java.lang.Integer">
		delete from
		   t_category
		where category_id=#{categoryId,jdbcType=INTEGER}
	</delete>
</mapper>