<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myproject.mapper.DeliveryMapper">
    <!--<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>-->
    <resultMap id="BaseResultMap" type="com.example.myproject.pojo.Address">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="county" property="county" jdbcType="VARCHAR"/>
        <result column="defaults" property="defaults" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_address_List">
      id, name,phone,province,city,county,address,defaults
    </sql>

    <insert id="insert" parameterType="com.example.myproject.pojo.Address">
        insert into t_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="county != null">
                county,
            </if>
            <if test="defaults != null">
                defaults,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="county != null">
                #{county,jdbcType=VARCHAR},
            </if>
            <if test="defaults != null">
                #{defaults,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <!--修改收货地址-->
    <update id="update" parameterType="com.example.myproject.pojo.Address">
        UPDATE t_address
        <set>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="county != null">
                county = #{county,jdbcType=VARCHAR},
            </if>
            <if test="defaults != null">
                defaults = #{defaults,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>


    <!--查找默认收货地址-->
    <select id="findDefaultDelivery" resultMap="BaseResultMap">
        select
        <include refid="Base_address_List"></include>
        from t_address
        where user_id = #{userId,jdbcType=VARCHAR}
        and defaults = true
        LIMIT 1
    </select>

    <!-- 分页查找收货地址 -->
    <select id="findByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_address_List"></include>
        from t_address
        where user_id = #{userId,jdbcType=VARCHAR}
        <if test="limit!=null and offset!=null">
            limit ${offset},${limit}
        </if>
    </select>

    <!-- 删除收货地址 -->
    <delete id="deleteAddress" parameterType="java.lang.String">
		delete from
		   t_address
		where id=#{id,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=VARCHAR}
	</delete>

    <select id="selectPageVo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_address_List"></include>
        FROM t_address WHERE user_id=#{userId}
    </select>
</mapper>