<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myproject.mapper.GoodsMapper">
    <!--<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>-->
    <resultMap id="BaseResultMap" type="com.example.myproject.pojo.Goods">
        <id column="goods_id" property="goodsId" jdbcType="BIGINT"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="brand_id" property="brandId" jdbcType="INTEGER"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="goods_brief" property="goodsBrief" jdbcType="VARCHAR"/>
        <result column="goods_desc" property="goodsDesc" jdbcType="VARCHAR"/>
        <result column="stock" property="stock" jdbcType="INTEGER"/>
        <result column="goods_sn" property="goodsSn" jdbcType="BIGINT"/>
        <result column="is_delete" property="isDelete" jdbcType="BIT"/>
        <result column="is_hot" property="isHot" jdbcType="BIT"/>
        <result column="is_new" property="isNew" jdbcType="BIT"/>
        <result column="is_promote" property="isPromote" jdbcType="BIT"/>
        <result column="is_sale" property="isSale" jdbcType="BIT"/>
        <result column="keywords" property="keywords" jdbcType="VARCHAR"/>
        <result column="shop_price" property="shopPrice" jdbcType="DECIMAL"/>
        <result column="promote_price" property="promotePrice" jdbcType="DECIMAL"/>
        <result column="market_price" property="marketPrice" jdbcType="DECIMAL"/>
        <result column="promote_end_date" property="promoteEndDate" jdbcType="DATETIMEOFFSET"/>
        <result column="promote_start_date" property="promoteStartDate" jdbcType="DATETIMEOFFSET"/>
        <result column="seller_note" property="sellerNote" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BigDecimal2" type="java.math.BigDecimal"></resultMap>

    <sql id="Base_List">
      goodS_id,goods_name,t_goods.brand_id, t_goods.category_id,goods_brief,goods_desc,stock,goods_sn,
      is_promote,shop_price,promote_price,market_price,promote_end_date,promote_start_date,t_brand.brand_name,t_category.category_name
    </sql>

    <!--新增商品-->
    <insert id="addGoods" parameterType="com.example.myproject.pojo.Goods">
        insert into t_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsBrief != null">
                goods_brief,
            </if>
            <if test="goodsDesc != null">
                goods_desc,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="goodsSn != null">
                goods_sn,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="isHot != null">
                is_hot,
            </if>
            <if test="isNew != null">
                is_new,
            </if>
            <if test="isPromote != null">
                is_promote,
            </if>
                is_sale,
            <if test="keywords != null">
                keywords,
            </if>
            <if test="lastUpdate != null">
                last_update,
            </if>
            <if test="marketPrice != null">
                market_price,
            </if>
            <if test="promoteEndDate != null">
                promote_end_date,
            </if>
            <if test="promotePrice != null">
                promote_price,
            </if>
            <if test="promoteStartDate != null">
                promote_start_date,
            </if>
            <if test="sellerNote != null">
                seller_note,
            </if>
            <if test="shopPrice != null">
                shop_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">
                #{goodsId},
            </if>
            <if test="brandId != null">
                #{brandId},
            </if>
            <if test="categoryId != null">
                #{categoryId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="goodsName != null">
                #{goodsName},
            </if>
            <if test="goodsBrief != null">
                #{goodsBrief},
            </if>
            <if test="goodsDesc != null">
                #{goodsDesc},
            </if>
            <if test="stock != null">
                #{stock},
            </if>
            <if test="goodsSn != null">
                #{goodsSn},
            </if>
            <if test="isDelete != null">
                #{isDelete},
            </if>
            <if test="isHot != null">
                #{isHot},
            </if>
            <if test="isNew != null">
                #{isNew},
            </if>
            <if test="isPromote != null">
                #{isPromote},
            </if>
            true
            <if test="keywords != null">
                #{keywords},
            </if>
            <if test="lastUpdate != null">
                #{lastUpdate},
            </if>
            <if test="marketPrice != null">
                #{marketPrice},
            </if>
            <if test="promoteEndDate != null">
                #{promoteEndDate},
            </if>
            <if test="promotePrice != null">
                #{promotePrice},
            </if>
            <if test="promoteStartDate != null">
                #{promoteStartDate},
            </if>
            <if test="sellerNote != null">
                #{sellerNote},
            </if>
            <if test="shopPrice != null">
                #{shopPrice},
            </if>
        </trim>
    </insert>


    <!--修改商品-->
    <update id="modifyGoods" parameterType="com.example.myproject.pojo.Goods">
        update t_goods
        <set>
            <if test="brandId != null">
                brand_id =#{brandId},
            </if>
            <if test="categoryId != null">
                categoryId =#{categoryId},
            </if>
            <if test="createTime != null">
                create_time =#{createTime},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName},
            </if>
            <if test="goodsBrief != null">
                goods_brief = #{goodsBrief},
            </if>
            <if test="goodsDesc != null">
                goods_desc =#{goodsDesc},
            </if>
            <if test="stock != null">
                stock = #{stock},
            </if>
            <if test="goodsSn != null">
                goods_sn = #{goodsSn},
            </if>
            <if test="isDelete != null">
                is_delete=#{isDelete},
            </if>
            <if test="isHot != null">
                is_hot =#{isHot},
            </if>
            <if test="isNew != null">
                is_new=#{isNew},
            </if>
            <if test="isPromote != null">
                is_promote = #{isPromote},
            </if>
            <if test="isSale != null">
                is_sale = #{isSale},
            </if>
            <if test="keywords != null">
                keywords =#{keywords},
            </if>
            <if test="marketPrice != null">
                market_price =#{marketPrice},
            </if>
            <if test="promoteEndDate != null">
                promote_endDate =#{promoteEndDate},
            </if>
            <if test="promotePrice != null">
                promote_price = #{promotePrice},
            </if>
            <if test="promoteStartDate != null">
                promote_start_date =#{promoteStartDate},
            </if>
            <if test="sellerNote != null">
                seller_note = #{sellerNote},
            </if>
            <if test="shopPrice != null">
                shop_price =#{shopPrice},
            </if>
        </set>
        where goods_id = #{goodsId,jdbcType=BIGINT}
    </update>


    <!-- 查找商品价格-->
    <select id="findPrice" resultMap="BigDecimal2" parameterType="java.lang.Long">
        select
        shop_price
        from t_goods
        where goods_id =#{goodsId}
    </select>


    <!-- 查找商品-->
    <select id="findGoods" resultMap="BaseResultMap">
        select
        <include refid="Base_List"></include>
        from t_goods
        left join t_brand
        on t_goods.brand_id = t_brand.brand_id
        left join t_category
        on t_goods.category_id=t_category.category_id
        <where>
            1=1
            <if test="goods.goodsId != null and goods.goodsId!=0">
                and goods_id = #{goods.goodsId}
            </if>
            <if test="goods.brandId != null and goods.brandId!=0">
                and t_goods.brand_id = #{goods.brandId}
            </if>
            <if test="goods.categoryId != null and goods.categoryId!=0">
                and t_goods.category_id = #{goods.categoryId}
            </if>
            <if test="goods.goodsName != null">
                and goods_name like #{goods.goodsName}
            </if>
            <if test="goods.goodsBrief != null">
                and goods_brief like #{goods.goodsBrief}
            </if>
            <if test="goods.goodsDesc != null">
                and goods_desc like #{ goods.goodsDesc}
            </if>
            <if test="goods.stock != null and goods.stock!=0">
                and stock = #{ goods.stock}
            </if>
            <if test="goods.goodsSn != null">
                and goods_sn like #{ goods.goodsSn}
            </if>
            <if test="goods.isDelete != null">
                and is_delete = #{goods.isDelete}
            </if>
            <if test="goods.isHot != null ">
                and is_hot = #{goods.isHot}
            </if>
            <if test="goods.isNew != null">
                and is_new = #{goods.isNew}
            </if>
            <if test="goods.isPromote != null">
                and is_promote = #{goods.isPromote}
            </if>
            <if test="goods.isSale != null">
                and is_sale = #{goods.isSale}
            </if>
            <if test="goods.keywords != null">
                and keywords like #{goods.keywords}
            </if>
            <if test="goods.marketPrice != null">
                and market_price = #{goods.marketPrice}
            </if>
            <if test="goods.promoteEndDate != null">
                and promote_end_date = #{goods.promoteEndDate}
            </if>
            <if test="goods.promotePrice != null">
                and promote_price = #{goods.promotePrice}
            </if>
            <if test="goods.promoteStartDate != null ">
                and promote_start_date = #{goods.promoteStartDate}
            </if>
            <if test="goods.sellerNote != null">
                and seller_note like #{goods.sellerNote}
            </if>
            <if test="goods.shopPrice != null">
                and shop_price = #{goods.shopPrice}
            </if>
            <if test="limit!=null and offset!=null">
                limit #{offset} ,#{limit}
            </if>
        </where>
    </select>


    <!-- id查找商品详情-->
    <select id="findGoodDetails" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_List"></include>
        from t_goods
        left join t_brand
        on t_goods.brand_id = t_brand.brand_id
        left join t_category
        on t_goods.category_id=t_category.category_id
        <where>
            1=1
            <if test="goodsId != null and goodsId!=0">
                and t_goods.goods_id = #{goodsId,jdbcType=BIT}
            </if>
        </where>
        limit 1
    </select>


    <!-- 查找促销商品 -->
    <select id="promotionGoods" resultMap="BaseResultMap">
        select
        <include refid="Base_List"></include>
        from t_goods
        left join t_brand
        on t_goods.brand_id = t_brand.brand_id
        left join t_category
        on t_goods.category_id=t_category.category_id
        <where>
            t_goods.is_sale = true
            and is_promote =true
            and stock > 0
            <if test="limit!=null and offset!=null">
                limit ${offset},${limit}
            </if>
        </where>
    </select>

    <!-- 删除品牌 -->
    <delete id="deleteGoods" parameterType="java.lang.Integer">
		delete from
		   t_goods
		where brand_id=#{brandId,jdbcType=BIGINT}
	</delete>
</mapper>