<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myproject.mapper.OrderMapper">
    <!--<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>-->
    <resultMap id="BaseResultMap" type="com.example.myproject.vojo.OrderListBean">
        <id column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="order_no" property="orderNo" jdbcType="BIGINT"/>
        <result column="order_price" property="orderPrice" jdbcType="DECIMAL"/>
        <result column="payment" property="payment" jdbcType="DECIMAL"/>
        <result column="payment_type" property="paymentType" jdbcType="INTEGER"/>
        <result column="postage" property="postage" jdbcType="DECIMAL"/>
        <result column="brand_id" property="brandId" jdbcType="BIGINT"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="buyer_message" property="buyerMessage" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="payment_time" property="paymentTime" jdbcType="DATETIMEOFFSET"/>
        <result column="send_time" property="sendTime" jdbcType="DATETIMEOFFSET"/>
        <result column="complete_time" property="completeTime" jdbcType="DATETIMEOFFSET"/>
        <result column="close_time" property="closeTime" jdbcType="DATETIMEOFFSET"/>
        <result column="creation_time" property="creationTime" jdbcType="DATETIMEOFFSET"/>
        <collection property="orderItem" ofType="com.example.myproject.vojo.OrderGoodsBean">
            <result column="goods_id" property="goodsId"/>
            <result column="goods_price" property="orderGoodsPrice"/>
            <result column="goods_number" property="orderNumber"/>
            <result column="goods_name" property="goodsName"/>
            <result column="goods_brief" property="goodsBrief"/>
            <result column="order_item_id" property="orderItemId"/>
        </collection>
    </resultMap>

    <sql id="Base_order_List">
      t_order.order_id,order_no
      ,order_price,postage
      ,status,payment,brand_id
      ,brand_name,status,goods_id
      ,goods_name,goods_price,goods_desc,goods_number,order_item_id
    </sql>

    <!--新加入订单-->
    <insert id="addOrder" parameterType="com.example.myproject.pojo.Order">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null and orderId!=0">
                order_id,
            </if>
            <if test="userId != null and userId!=0">
                user_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="orderPrice != null">
                order_price,
            </if>
            <if test="payment != null">
                payment,
            </if>
            <if test="paymentType != null">
                payment_type,
            </if>
            <if test="postage != null">
                postage,
            </if>
            <if test="buyerMessage != null">
                buyer_message,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="brandName != null">
                brand_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null and orderId!=0">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="userId != null and userId!=0">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=BIGINT},
            </if>
            <if test="orderPrice != null">
                #{orderPrice,jdbcType=DECIMAL},
            </if>
            <if test="payment != null">
                #{payment,jdbcType=DECIMAL},
            </if>
            <if test="paymentType != null">
                #{paymentType,jdbcType=INTEGER},
            </if>
            <if test="postage != null">
                #{postage,jdbcType=DECIMAL},
            </if>
            <if test="buyerMessage != null">
                #{buyerMessage,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=DATETIMEOFFSET},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=BIGINT},
            </if>
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <!--添加订单项目-->
    <insert id="addOrderItem">
        insert into t_order_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null and orderId > 0">
                order_id,
            </if>
            <if test="cartId != null">
                cart_id,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
            <if test="goods.goodsId != null">
                goods_id,
            </if>
            <if test="goods.goodsName != null">
                goods_name,
            </if>
            <if test="goodsNumber != null">
                goods_number,
            </if>
            <if test="goods.shopPrice != null">
                goods_price,
            </if>
            <if test="totalPrice != null">
                total_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="cartId != null">
                #{cartId,jdbcType=BIGINT},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=DATETIMEOFFSET},
            </if>
            <if test="goods.goodsId != null">
                #{goods.goodsId,jdbcType=BIGINT},
            </if>
            <if test="goods.goodsName != null">
                #{goods.goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsNumber != null">
                #{goodsNumber,jdbcType=INTEGER},
            </if>
            <if test="goods.shopPrice != null">
                #{goods.shopPrice,jdbcType=DECIMAL},
            </if>
            <if test="totalPrice != null">
                #{totalPrice,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>


    <!-- 订单列表 -->
    <select id="findOrderList" resultMap="BaseResultMap">
        select
        <include refid="Base_order_List"></include>
        from t_order
        left join t_order_item
        on t_order.order_id = t_order_item.order_id
        <where>
            user_id = #{userId,jdbcType=BIGINT}
            <if test="status != null and status > 0">
                and status = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>