<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myproject.mapper.UserMapper">
    <!--<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>-->
    <!--<resultMap id="BaseResultMap" type="com.example.myproject.pojo.Users">-->
        <!--<id column="id" property="id" jdbcType="BIGINT"/>-->
        <!--<result column="name" property="name" jdbcType="VARCHAR"/>-->
        <!--<result column="phone" property="phone" jdbcType="VARCHAR"/>-->
        <!--<result column="password" property="password" jdbcType="VARCHAR"/>-->
        <!--<result column="age" property="age" jdbcType="INTEGER"/>-->
        <!--<result column="sex" property="sex" jdbcType="VARCHAR"/>-->
        <!--<result column="avatar" property="avatar" jdbcType="VARCHAR"/>-->
        <!--<result column="create_time" property="createTime" jdbcType="DATETIMEOFFSET"/>-->
        <!--<result column="type" property="type" jdbcType="INTEGER"/>-->
        <!--<result column="last_login" property="lastLogin" jdbcType="DATETIMEOFFSET"/>-->
        <!--<result column="token" property="token" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->

    <select id="login" parameterType="String" resultMap="BaseResultMap">
        SELECT * FROM
        t_user
        WHERE
        phone = #{phone,jdbcType=VARCHAR}
        AND
         password = #{password,jdbcType=VARCHAR}
         LIMIT 1
    </select>

    <insert id="insert" parameterType="com.example.myproject.pojo.Users">
    insert into t_user (id,name, phone,password, sex,
      type, create_time,age,update_time)
    values (#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
      #{type,jdbcType=INTEGER}, #{createTime,jdbcType=DATETIMEOFFSET},#{age,jdbcType=INTEGER},#{updateTime,jdbcType=DATETIMEOFFSET})
  </insert>

    <select id="findUserByPhone" parameterType="String" resultMap="BaseResultMap">
        SELECT
        * FROM
        t_user
        WHERE
        phone = #{phone,jdbcType=VARCHAR}
    </select>

    <select id="findUserByUserId" parameterType="String" resultMap="BaseResultMap">
        SELECT
        * FROM
        t_user
        WHERE
        id = #{id,jdbcType=BIGINT}
    </select>

    <update id="modifyPassword" parameterType="String">
        UPDATE t_user
        <set>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        WHERE
        id = #{id,jdbcType=BIGINT}
    </update>

    <update id="editUserInfo" parameterType="String">
        UPDATE t_user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        WHERE
        id = #{id,jdbcType=BIGINT}
    </update>

    <update id="forgetPassword" parameterType="String">
        UPDATE t_user
        <set>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE
        phone = #{phone,jdbcType=VARCHAR}
    </update>
</mapper>